[formatters]
keys: detailed,simple
 
[handlers]
keys: console
 
[loggers]
keys: root
 
[formatter_simple]
format: %(name)s:%(levelname)s:  %(message)s
 
[formatter_detailed]
format: %(filename)s(%(lineno)d) - %(levelname)s:  %(message)s
 
[handler_console]
class: StreamHandler
args: []
formatter: detailed
 
[logger_root]
level: DEBUG
handlers: console

